30 1 * * * PATH/TO/NODE PATH/TO/MSGRAPH/APP/mail.js me >> PATH/TO/MSGRAPH/LOG/me.log
*/20 6 * * * PATH/TO/NODE PATH/TO/MSGRAPH/APP/mail.js >> PATH/TO/MSGRAPH/LOG/mail.log
*/30 * * * * PATH/TO/NODE PATH/TO/MSGRAPH/APP/app.js >> PATH/TO/MSGRAPH/LOG/api.log
59 23 */7 * * PATH/TO/NODE ls PATH/TO/MSGRAPH/LOG | xargs rm
